.bundle
.config
.DS_Store
.idea
.project
.secret
*.gem
*.rbc
*.swp
*~
coverage
db/*.sqlite3
db/*.sqlite3-journal
doc/
InstalledFiles
lib/bundler/man
log
log/*.log
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
tmp/**/*
xspec/